<!-- <div class="row">
  <div class="col-md-5">
    <app-recipe-list  (recipeSelected)="selectedRecipeInList($event)"  (click)="displayDetails()"></app-recipe-list>
  </div>
  <div class="col-md-7">
    <app-recipe-details  *ngIf="view=='recipe-details'" [soloReci]="selectedRecipe"></app-recipe-details>
  </div>
</div> -->


<!--using services-->
<!-- <div class="row">
  <div class="col-md-5">
    <app-recipe-list    (click)="displayDetails()"></app-recipe-list>
  </div>
  <div class="col-md-7">
    <app-recipe-details  *ngIf="view=='recipe-details'" [soloReci]="selectedRecipe"></app-recipe-details>
  </div>
</div> -->

<!-- using routers-->
<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success" (click)="onNewRecipe()">New Recipe</button>
  </div>
</div>

<div class="row">
  <div class="col-md-5">
    <app-recipe-list ></app-recipe-list>
  </div>
  <div class="col-md-7">
<router-outlet></router-outlet>
  </div>
</div>
